
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Добавление нового документа</title>
</head>
<body>
    <div>
        <h3>Загрузка файла</h3>
      <!--  <form method="post" action="">-->
         @using (Html.BeginForm("Upload", "Doc", FormMethod.Post, new { enctype = "multipart/form-data" }))

         {
             <table>
                <tr>
                    <!-- добавление файла -->
                    <td><p>Выберите файл для загрузки: </p></td>
                    <td><input type="file" name="upload" accept="application/msword,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document" /></td>
                </tr>
                <tr>
                    <!--ввод названия документа (если пустое, берется название файла)-->
                    <td><p>Введите название документа (не более 50 символов): </p></td>
                    <td><input type="text" maxlength ="50" placeholder ="Название документа" name="name_doc" /> </td>
                </tr>
                <tr>
                    <!--ввод описания документа (если пустое, берется первые 150 или меньше (если документ короткий) символов)-->
                    <td><p>Введите описание документа (не более 150 символов):</p></td>
                    <td>
                        <textarea rows = "5" cols="50" maxlength ="150" placeholder="Описание документа" name="description" ></textarea>
                    </td>
                </tr>
                <tr><td><input type="submit" value="Загрузить" /> </td><td></td></tr>
            </table>
         }
    </div>
</body>
</html>


