
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DocDetails</title>
</head>
<body>
    <!--блок информации о документа из таблицы doc-->
    <div> 

    </div>
    <!--блок напоминаний-->
    <div>

    </div>
    <!--блок комментариев-->
    <div>

    </div>
</body>
</html>
