@Html.ValidationSummary(true)
    <!--блок информации о документа из таблицы doc-->
    <div> 

    </div>
    <!--блок напоминаний-->
    <div>

    </div>
    @Html.Action("Index", "Comments", new { id = ViewBag.Id })
    <div>

    </div>