@model MashZavod.Models.MissionsModels.MissionModelAdd
@{
    ViewBag.Title = "Просмотр документа";
}

@Html.Partial("nav")

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>
            Документ "Название документа"
        </h1>
        @Html.ValidationSummary(true)

    </div>
</body>
</html>