<div class="sidebar app-aside" id="sidebar">
    <div class="sidebar-container perfect-scrollbar">
        <nav>
            <div class="navbar-title">
                <span>Навигация</span>
            </div>
            <ul class="main-navigation-menu">
                <li class="active open">
                    <a href="../Home">
                        <div class="item-content">
                            <div class="item-media">
                                <i class="ti-home"></i>
                            </div>
                            <div class="item-inner">
                                <span class="title">Главная </span>
                            </div>
                        </div>
                    </a>
                </li>
               

            </ul>

        </nav>
    </div>
</div>



