<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>News</title>
</head>
<body>
    <form method="post" action="">
        <input type="text" name="SourcesRSS" />
        <input type="submit" />
    </form>
</body>
</html>


