@model MashZavod.Models.DbModels.TagsNews
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <input type="text" placeholder="Введите тег" name="Tag" />
    <input type="submit" value="Добавить" />
    }
@foreach (var elem in ViewBag.Tags)
{
    <div>
        <p>@elem.Tag  <a href="~/News/TagsDel?id=@elem.ID"> Удолить </a></p>
    </div>
}