
@{
    ViewBag.Title = "BigChat";
}

@foreach (var b in ViewBag.Chat)
{
    <p>@b.Message</p>
}

<form method="post" action="">
    <input type="text" name="message" />
    

    <input type="submit"/>
</form>