@Html.Partial("nav")

@model MashZavod.Models.DbModels.database_murom_factory2Entities1
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminIndex</title>
</head>
<body>
    <div> 
        <p><a href="../Account/Register">Добавить пользователя</a></p>
        <p><a href="../News/Tags">Добавить теги для парсинга новостей</a></p>
    </div>
</body>
</html>
