@model MashZavod.Models.AccountLoginModel
@{
    ViewBag.Title = "Вход";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)
    <div class="row">
        <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="logo margin-top-30">
                <img src="assets/images/logo.png" alt="Clip-Two" />
            </div>
            <div class="box-login">
                <form class="form-login" action="index.html">
                    <fieldset>
                        <legend>
                            Sign in to your account
                        </legend>
                        <p>
                            Please enter your name and password to log in.
                        </p>
                        <div class="form-group">
                            <span class="input-icon">
                                <input type="text" class="form-control" name="Login" placeholder="Username">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <div class="form-group form-actions">
                            <span class="input-icon">
                                <input type="password" class="form-control password" name="Password" placeholder="Password">
                                <i class="fa fa-lock"></i>
                                <a class="forgot" href="login_forgot.html">
                                    I forgot my password
                                </a>
                            </span>
                        </div>
                        <div class="form-actions">
                            <div class="checkbox clip-check check-primary">
                                <input type="checkbox" id="remember" value="1">
                                <label for="remember">
                                    Keep me signed in
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">
                                Login <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                        <div class="new-account">
                            Don't have an account yet?
                            <a href="login_registration.html">
                                Create an account
                            </a>
                        </div>
                    </fieldset>
                </form>
                <div class="copyright">
                    &copy; <span class="current-year"></span><span class="text-bold text-uppercase"> ClipTheme</span>. <span>All rights reserved</span>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}