@model MashZavod.Models.AccountRegisterModel
@{
    ViewBag.Title = "Регистрация";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)
        <div class="row">
			<div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
				<div class="logo margin-top-30">
					<img src = "assets/images/logo.png" alt="Логотип"/>
				</div>
				<div class="box-register">
					<form class="form-register">
						<fieldset>
							<legend>
								Создание нового пользователя
                            </legend>

                            <div class="form-group">
                                <span class="input-icon">
                                    <input type="email" class="form-control" name="Login" placeholder="Логин">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>

                            <div class="form-group">
                                <span class="input-icon">
                                    <input type="email" class="form-control" name="Password" placeholder="Пароль">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>

                            <div class="form-group">
                                <span class="input-icon">
                                    <input type="email" class="form-control" name="Surname" placeholder="Фамилия">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>

                            <div class="form-group">
                                <span class="input-icon">
                                    <input type="email" class="form-control" name="Name" placeholder="Имя">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>

                            <div class="form-group">
                                <span class="input-icon">
                                    <input type="email" class="form-control" name="Patronymic" placeholder="Отчество">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>

                            <div class="form-group">
                                <span class="input-icon">
                                    <input type="email" class="form-control" name="Position" placeholder="Должность">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>

                            <div class="form-group">
                                <span class="input-icon">
                                    <input type="email" class="form-control" name="Email" placeholder="Email">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>

                            <div class="form-group">
                                <span class="input-icon">
                                    <input type="email" class="form-control" name="Phone" placeholder="Телефон">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>

							<div class="form-actions">
								<button type = "submit" class="btn btn-primary pull-right">
									Создать <i class="fa fa-arrow-circle-right"></i>
								</button>
							</div>
						</fieldset>
					</form>
					<!-- start: COPYRIGHT -->
				
					<!-- end: COPYRIGHT -->
				</div>
				<!-- end: REGISTER BOX -->
			</div>
		</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}