@{
    Layout = null;
}
<table style="border:1px grey solid; border-radius:5px;" class="table table-hover" id="sample-table-1">
    <thead>
        <tr>
            <th style="padding-right:10px">Текст напоминания</th>
            <th style="padding-right:10px">Автор</th>
            <th style="padding-right:10px">Дата создания</th>
            <th style="padding-right:10px"></th>
        </tr>
    </thead>
    <tbody>
    @if (ViewBag.ReminderViewModel != null)
    {
        if (ViewBag.ReminderViewModel.IsReminderModels)
        {
            foreach (var elem in ViewBag.ReminderViewModel.ReminderModels)
            {
                <tr>
                    <td style="padding-right:10px">@elem.Text</td>
                    <td style="padding-right:10px">@elem.Login</td>
                    <td style="padding-right:10px">@elem.DateReminder</td>
                    <td style="padding-right:10px"><i class="fa fa-cog"></i> <a href="Reminder/HideReminder?id=@elem.Id">Скрыть</a></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td> </td>
                <td> (Напоминания отсутствуют) </td>
                <td> </td>
            </tr>


        }
    }
    </tbody>
</table>