<style>
    #calendar {
        width: 100%;
        font: monospace;
        line-height: 1.2em;
        font-size: 15px;
        text-align: center;
        top: 10px;
        right: 15px;
        float: right;
        position: fixed;
        width: 220px;
        border: 1px solid #c0c0c0;
        padding: 6px;
        z-index:1;
    }

        #calendar thead tr:last-child {
            font-size: small;
            color: rgb(85, 85, 85);
        }

        #calendar thead tr:nth-child(1) td:nth-child(2) {
            color: rgb(50, 50, 50);
        }

        #calendar thead tr:nth-child(1) td:nth-child(1):hover, #calendar thead tr:nth-child(1) td:nth-child(3):hover {
            cursor: pointer;
        }

        #calendar tbody td {
            color: rgb(44, 86, 122);
        }

            #calendar tbody td:nth-child(n+6), #calendar .holiday {
                color: rgb(231, 140, 92);
            }

            #calendar tbody td.today {
                background: rgb(220, 0, 0);
                color: #fff;
            }
</style>
@Html.Partial("nav")

<div class="main-content">
        <table id="calendar" border="0" cellspacing="0" cellpadding="1">
            <thead>
                <tr><td><b>‹</b><td colspan="5"><td><b>›</b>
                <tr><td>Пн<td>Вт<td>Ср<td>Чт<td>Пт<td>Сб<td>Вс
            </thead>
            <tbody></tbody>
        </table>
   

    <div class="wrap-content container" id="container">
        <!-- start: PAGE TITLE -->
        <section id="page-title">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="mainTitle">Система электронного документооборота</h1>
                    <span class="mainDescription">МуромМашЗавод</span>
                    <span class="mainDescription">О КОМПАНИИ</span>
                </div>
                

            </div>

            <div class="container-fluid container-fullw bg-white">
                <div class="row">
                    Муромский машиностроительный завод (сокращенное название – ОАО «Муроммаш») – история завода начинается в далек<br />
                    ом 1867 году. Во Владимирской области это самый старейший завод. Во времена Своетов он назывался «Машиностроительный <br />
                    ордена Октябрьской революции завод имени Орджоникидзе». На зводе производились запчасти для бронетанковых заводов,<br />
                    динамические тренажеры для водителей и механиков танков, машин БМП, БМД и др. Позже завод освоил выпуск  <br />
                    компьютеризированных тренажеров, а также гражданской продукции. Шагая в ногу всо временем, завод приступает  <br />
                    к реализации планов по увеличению ассортимента изделий, освоению новых технологий и механизмов техники.

                    <span>ПРОДУКЦИЯ</span>
                    <ul>
                        <li>продукция оборонного назначения;</li>
                        <li>потребительские товары</li>
                        <li>арматура запорная (задвижки стальные и чугунные);</li>
                        <li>климатическое оборудование для транспортных средств и спецтехники;</li>
                        <li>оборудования для нефтяной промышленности;</li>
                        <li>погрузчики-экскаваторы</li>
                        <li>узлы трансмиссии для дорожно-строительной техники техники</li>
                        <li>изделия для МПС</li>
                    </ul>
                    </div>
                </div>
        </section>
    </div>
</div>






 
<script>
    function calendar(id, year, month) {
        var Dlast = new Date(year, month + 1, 0).getDate(),
            D = new Date(year, month, Dlast),
            DNlast = new Date(D.getFullYear(), D.getMonth(), Dlast).getDay(),
            DNfirst = new Date(D.getFullYear(), D.getMonth(), 1).getDay(),
            calendar = '<tr>',
            month = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"];
        if (DNfirst != 0) {
            for (var i = 1; i < DNfirst; i++) calendar += '<td>';
        } else {
            for (var i = 0; i < 6; i++) calendar += '<td>';
        }
        for (var i = 1; i <= Dlast; i++) {
            if (i == new Date().getDate() && D.getFullYear() == new Date().getFullYear() && D.getMonth() == new Date().getMonth()) {
                calendar += '<td class="today">' + i;
            } else {
                calendar += '<td>' + i;
            }
            if (new Date(D.getFullYear(), D.getMonth(), i).getDay() == 0) {
                calendar += '<tr>';
            }
        }
        for (var i = DNlast; i < 7; i++) calendar += '<td> ';
        document.querySelector('#' + id + ' tbody').innerHTML = calendar;
        document.querySelector('#' + id + ' thead td:nth-child(2)').innerHTML = month[D.getMonth()] + ' ' + D.getFullYear();
        document.querySelector('#' + id + ' thead td:nth-child(2)').dataset.month = D.getMonth();
        document.querySelector('#' + id + ' thead td:nth-child(2)').dataset.year = D.getFullYear();
        if (document.querySelectorAll('#' + id + ' tbody tr').length < 6) {  // чтобы при перелистывании месяцев не "подпрыгивала" вся страница, добавляется ряд пустых клеток. Итог: всегда 6 строк для цифр
            document.querySelector('#' + id + ' tbody').innerHTML += '<tr><td> <td> <td> <td> <td> <td> <td> ';
        }
    }
    calendar("calendar", new Date().getFullYear(), new Date().getMonth());
    // переключатель минус месяц
    document.querySelector('#calendar thead tr:nth-child(1) td:nth-child(1)').onclick = function () {
        calendar("calendar", document.querySelector('#calendar thead td:nth-child(2)').dataset.year, parseFloat(document.querySelector('#calendar thead td:nth-child(2)').dataset.month) - 1);
    }
    // переключатель плюс месяц
    document.querySelector('#calendar thead tr:nth-child(1) td:nth-child(3)').onclick = function () {
        calendar("calendar", document.querySelector('#calendar thead td:nth-child(2)').dataset.year, parseFloat(document.querySelector('#calendar thead td:nth-child(2)').dataset.month) + 1);
    }
</script>